nav.secondary a {
    text-decoration: none;
    padding: 0.5rem;
    border: var(--mini-border-size) solid var(--mini-color-secondary);
    border-radius: var(--mini-border-radius);
    color: var(--mini-color-text);
  }
  
  nav.secondary a + a {
    margin-left: 0.5rem;
  }
  
  li > button {
    margin-left: 15px;
  }

  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(133, 173, 180);
    text-align: center;
  }